<meta charset="UTF-8"></meta>
<div id="f">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="footTop_title">工作室精神</div>
				<div class="footTop_content">
					<span>严谨认真</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>严谨认真</span>
				</div>
				<div class="footTop_content">
					<span>踏实负责</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footTop_title">服务项目</div>
				<div class="footTop_content">
					<span>网站建设</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>移动端/APP</span>
				</div>
				<div class="footTop_content">
					<span>微信/小程序</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>技术支持</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footTop_title">联系我们</div>
				<div class="footTop_content2">
					<span>电话:</span>&nbsp;&nbsp;<span>19851628716</span>
				</div>
				<div class="footTop_content2">
					<span>QQ:</span>&nbsp;&nbsp;&nbsp;<span>19851628716</span>
				</div>
				<div class="footTop_content2">
					<span>邮箱:</span>&nbsp;&nbsp;<span>19851628716@qq.com</span>
				</div>
				<div class="footTop_content2">
					<span>地址:</span>&nbsp;&nbsp;<span>徐州市铜山区大学路1号</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footTop_image"
					style="padding-top: 0px; padding-left: 5px">
					<img src="/static/images/footTop-erweima.png">
				</div>
				<div style="color: white; padding-left: 15px">微信扫一扫</div>
				<div class="footTop_share">
					<div class="bshare-custom icon-medium-plus">
						<a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博"
							class="bshare-sinaminiblog"></a> <a title="分享到人人网"
							class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a
							title="分享到网易微博" class="bshare-neteasemb"></a> <a title="更多平台"
							class="bshare-more bshare-more-icon more-style-addthis"></a>
					</div>
					<script type="text/javascript" charset="utf-8"
						src="http:/static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh">
		             </script>
					<script type="text/javascript" charset="utf-8"
						src="http:/static.bshare.cn/b/bshareC0.js"></script>
				</div>
				<div style="color: white; padding-top: 10px; padding-left: 15px">点击图标分享网页</div>

			</div>


		</div>

		<div class="row" style="margin-top: 20px">
			<div class="col-md-12">
				<div style="border-top: 1px solid white;">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footTop_redirect">
						<a href="#"><span>关于我们</span></a> <a>|</a> <a href="#"><span>新闻资讯</span></a>
						<a>|</a> <a href="#"><span>服务项目</span></a> <a>|</a> <a href="#"><span>成功案例</span></a>
					</div>
				</div>
				<div class="footTop_banquan">版权所有@copyright 2019 黑天鹅工作室</div>
				<div class="footTop_banquan">本站内容,图片部分来自网络,如有涉及侵犯版权,请联系我们提供书面反馈,我们核实后会立即删除.</div>
			</div>
		</div>

	</div>


</div>