<meta charset="UTF-8"></meta>
<div id="h">

	
		<!-- 头部菜单布局 -->
		
				<div class="col-md-4" style="margin-top: 15px;padding-left:200px;">
					<img src="/static/images/logo.png" style="width: 60px">&nbsp;<span
						class="clubName">黑天鹅工作室欢迎您</span>
				</div>
				<div class="col-md-6">
					<div class="top">
						<a href="/"><span>首页</span></a> 
						<a href="/news/list/1"><span>新闻资讯</span></a>
						<a href="/serviceItem"><span>服务项目</span></a> 
						<a href="/project/list/1"><span>成功案例</span></a>
						<a href="/aboutMe"><span>加入我们</span></a>
						<!--   <a><img alt="联系方式" src="static/images/qq.gif" style="width:30px;height:30px">2212282408</a> -->

					</div>

				</div>
				<div class="col-md-2">
					<div class="login">
						<a href="/login"><span>登录</span></a> <a><span>||</span></a> <a href=""><span>注册</span></a>
					</div>
				</div>

		
	

</div>