<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>服务项目</title>
<link rel="stylesheet" href="static/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/bootstrap3/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="static/css/index.css" />

<link rel="stylesheet" href="static/css/film.css" />

<link rel="stylesheet" href="/static/css/serviceItem.css" />


</head>
<body>
  <div class="row" style="background-color:black;">
       <div th:include="common/head::#h"></div>
    </div>
  
   <!-- imagebackground -->
   <div class="contact_service">
      <div class="container">
         <div class="row">
            <div class="col-md-8" style="margin-top:200px;margin-left:50px;">
                 <h1 style="color:white;">服务项目</h1>
                 <div style="color:blue;font-size:30px;font-weight:bold;vertical-align:middle;">-----------</div>
	             <p style="margin-top:15px;color:white;">黑天鹅工作室致力于为您提供最优质的服务,黑天鹅工作室致力于为您</p>
	             <p style="margin-top:15px;color:white;">黑天鹅工作室致力于为您提</p>
            </div>       
         </div>
         
      </div>
	</div>
	<div class="container" style="margin-top: 10px;">
			<!-- 服务项目模块 -->
			<div class="row" style="padding-top: 50px;">
				<div class="col-md-12">
					<h3 style="text-align: center; font-weight: bold; font-size: 40px;">服务项目</h3>
					<p style="text-align: center; font-size: 20px; margin-top: 25px;">用我们的专业和诚信赢得您的信任,从pc到移动互联网均有您想要的服务</p>
				</div>

			</div>

			<div class="row">
				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">网站建设</h3>
					<div class="layout">
						<img alt="网站建设" src="static/images/weiruan.png" class="photo2">
					</div>
					<p style="text-align: center;">企业网站,购物商城,行业门户,社区论坛,政府/事业单位等网站定制开发</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">移动端/APP</h3>
					<div class="layout">
						<img alt="移动端" src="static/images/android.png" class="photo2">
					</div>
					<p style="text-align: center;">企业网站,购物商城,行业门户,社区论坛,政府/事业单位等网站定制开发</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">微信/小程序</h3>
					<div class="layout">
						<img alt="微信/小程序" src="static/images/weixin.png" class="photo2">
					</div>
					<p style="text-align: center;">企业网站,购物商城,行业门户,社区论坛,政府/事业单位等网站定制开发</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">技术支持</h3>
					<div class="layout">
						<img alt="技术支持" src="static/images/security.png" class="photo2">
					</div>
					<p style="text-align: center;">技术支援,安全防护,模板定制,插件定制,技术方案等技术支持服务</p>
				</div>

			</div>
			<div class="row">
				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">活动官网</h3>
					<div class="layout">
						<img alt="活动官网" src="static/images/internet.png" class="photo2">
					</div>
					<p style="text-align: center;">活动官方网站,信息发布,投票,报名,评比等</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">行业门户</h3>
					<div class="layout">
						<img alt="行业门户" src="static/images/man_technologist.png"
							class="photo2">
					</div>
					<p style="text-align: center;">垂直行业综合门户开发,资讯,交易,分类信息,下载等</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">企业网站</h3>
					<div class="layout">
						<img alt="" src="static/images/house.png" class="photo2">
					</div>
					<p style="text-align: center;">企业门户官网/企业营销型网站定制开发,设计,建设</p>
				</div>

				<div class="col-md-3">
					<h3 style="text-align: center; padding-top: 50px;">政府官网</h3>
					<div class="layout">
						<img alt="政府官网" src="static/images/government.png" class="photo2">
					</div>
					<p style="text-align: center;">政府机构信息化建设,便民服务窗口,安全稳定</p>
				</div>

			</div>
		</div>
	<div class="chooseReson" style="background-color:#505558;margin-top:20px;height:700px;">
	   <div class="container">
	   <div class="row" style="color:black;padding-top:50px;padding-left:600px;">
	    <h1 style="font-weight:bold;">这也许是您即将选择我们的理由</h1>
	    <p style="padding-top:30px;font-size:15px;">纵然我们已经拥有无数让您选择的理由,但我们期待更多</p>
	   </div>
	   <div class="row" style="padding-top:50px;">
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/process-UI.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>个性定制</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>您的想法加上我们的专业技术及服务能力产出您想想要的产品,绝非搬硬套式开发</p>
	          </div>
	      </div>
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/process-hetong.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>开发规范</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>采用SVN/GIT等工具进行代码版本控制,可以溯源代码历史,技术文档更加规范</p>
	          </div>
	      </div>
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/alarm_clock11.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>极速响应</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>不管项目开发中,还是售后维护阶段,工程师快速响应,紧急问题下第一时间进行问题处理.</p>
	          </div>
	      </div>
	   </div>
	   <div class="row" style="padding-top:50px;">
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/security2.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>安全稳定</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>实时检测服务器集群运行状态,资源占用率,程序自动进行数据库备份.</p>
	          </div>
	      </div>
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/folder_72px.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>完整交付</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>域名/空间/备案等账号,源代码,技术文档等所有输出物全部交付甲方.</p>
	          </div>
	      </div>
	      <div class="col-md-4">
	          <div style="display:inline-block;height:30px;width:80px;padding-top:20px;vertical-align:top;">
	          <img src="/static/images/phone_call_72px.png">
	          </div>
	          <div style="display:inline-block;color:white;height:100px;width:270px;">
	          <h3>完善售后</h3>
	          <p style="color:blue;font-weight:bold;font-size:20px;margin-top:-10px;">______</p>
	          <p>不少于半年售后服务期,包含故障修复,备案,备份,安全防护,问题咨询等.</p>
	          </div>
	      </div>
	   </div>
	  </div>
	</div>
	
 <div class="head" style="padding-top:20px;">
    <div th:include="common/foot::#f"></div>
 </div>

</body>
</html>